numpy==1.18.2
requests==2.23.0
alpaca_trade_api==0.46
hmmlearn==0.2.3
joblib==0.14.1
matplotlib==3.2.1
mlxtend==0.17.2
mongo_memoize==0.0.4
namegenerator==1.0.6
pandas==1.0.3
psutil==5.7.0
pyalgotrade==0.20
pymongo==3.10.1
redis==3.4.1
requests_toolbelt==0.9.1
rq==1.3.0
scikit_learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
xgboost==1.0.2
yfinance==0.1.54
